<div class="text-center" style="margin-left:500px">
    <form class="form-signin" asp-action="Login" asp-controller="Account" method="post">
        <h1 class="h3 mb-3 font-weight-normal" style="margin-right:900px">Авторизация</h1>
        <label for="inputLogin" class="sr-only">Login</label>
        <input name="Login" type="text" id="inputLogin" class="form-control" placeholder="Login" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
        <button style="width:100px; margin-right:950px" class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    </form>
</div>